.bx-buttons {
    display: table;
    margin: 0 auto;

    .btn{
        float: left;
        margin: 0 10px;
    }
}

.btn {
    @include box-sizing;
    @include transition(all, 0.5s, ease, 0s);

    font: {
        family: $primaryFontBold;
        size: 18px;
    }

    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    cursor: pointer;

    &.btn-default {
        background-color: $mainColor;
        color: #fff;
    }

    &.btn-ico {
        .ico {
            position: relative;
            top: 3px;
            margin: 0 5px 0 0px;
        }

        span {
            font: {
                family: $primaryFontBold;
                size: 18px;
            }
        }
    }
    
    &.btn-black {
        background-color: #000;
        color: #fff;
    }

    &.btn-white {
        background-color: #fff;
        color: #000;
        border: 2px solid #000;
    }

    &.btn-show-more {
        text-transform: uppercase;

        &:hover {
            background-color: $secondaryColor;
        }
    }
}
