//VARIABLES

$fontSize:14px;

$mainColor: #6d2f8f;
$secondaryColor: #dd3282;
$siteColor: #eaedf1;

$imgPath:"../img";

//FONTS
//--officina
$primaryFontPath:"/content/fonts/officina";
$primaryFont: 'Officina-Book';
$primaryFontBold: 'Officina-Bold';

//--helvetica
$secondaryFontPath:"/content/fonts/helvetica";
$secondaryFont: 'Helvetica';
$secondaryFontBold: 'Helvetica-Bold';

//--ubuntu
$tertiaryFontPath:"/content/fonts/ubuntu";
$tertiaryFont: 'Ubuntu-Book';
$tertiaryFontBold: 'Ubuntu-Bold';
$tertiaryFontLight: 'Ubuntu-Light'

