.bx-tabs {
    .tabs {
        position: relative;
        width: 100%;
        top: -20px;

        li {
            float: left;
            margin-right: 20px;

            a {
                font: {
                    family: $secondaryFontBold;
                }

                letter-spacing: -1px;
                text-transform: uppercase;
                color: $mainColor;
                padding: 0 0 4px 0;
            }

            &.active {
                a {
                    border-bottom: 4px solid $mainColor;
                }
            }
        }
    }

    .tab-content {
        padding: 30px 0 20px 0;
        display: none;

        &.active {
            display: block;
        }

        h3 {
            font: {
                family: $secondaryFontBold;
            }
            color: $mainColor;
        }

        p {
            margin: 10px 0;
            color: #737476;

            font: {
                family: $secondaryFont;
            }
        }
    }
}
