.wr-home {
    background: none;

    .wr-banner {
        margin-top: -60px;
        position: relative;
    }

    .wr-content {    
        background: none;    
        padding-top: 0;

        .ct{
            padding: 0;
        }
    }
}
