.wr-success {
    .wr-content {
        .ct {
            h3 {
                font: {
                    family: $primaryFontBold;
                    size: 32px;
                }

                color: $mainColor;
                text-align: center;
            }

            .bx-buttons {
                margin: 40px auto 35px auto;

                %btnFont {
                    font: {
                        family: $primaryFont;
                        size: 16px;
                    }
                }

                .btn {
                    @extend %btnFont;
                    width: 160px;

                    span {
                        @extend %btnFont;
                    }
                }
            }

            .bx-success {
                display: table;
                width: 100%;
                @include box-sizing;
                padding: 50px;
                border: 1px solid #dbdddf;

                .bx-success-img {
                    @include box-sizing;
                    padding: 0;

                    img{
                        width: 100%;
                        max-width: 477px;
                    }
                }

                .bx-success-detail {
                    @include box-sizing;
                    padding: 0 0 0 25px;

                    h3 {
                        text-align: left;
                        color: #000;
                    }

                    .order-number {
                        margin: 30px 0;
                        color: #000;

                        font: {
                            family: $primaryFontBold;
                            size: 16px;
                        }

                        span {
                            display: block;

                            font: {
                                family: $primaryFontBold;
                                size: 32px;
                            }
                        }
                    }
                }

                .bx-success-description {
                    display: inline-block;
                    margin-top: 30px;

                    .row {
                        margin: 0 0 30px 0;

                        %defaultSize {
                            font: {
                                size: 16px;
                            }
                        }

                        p {
                            font: {
                                family: $secondaryFont;
                            }

                            @extend %defaultSize;
                            margin: 5px 0;

                            span {
                                @extend %defaultSize;
                                font-family: $secondaryFontBold;

                                &.highlight {
                                    font-family: $secondaryFontBold;
                                    color: $mainColor;
                                }

                                &.title {
                                    display: block;
                                    margin-bottom: 3px;
                                }
                            }

                            strong {
                                font-family: $secondaryFontBold;
                                @extend %defaultSize;
                            }
                        }

                        &:last-child {
                            margin: 0;
                        }
                    }
                }

                .bar-code {
                    float: left;
                }

                .logo {
                    float: right;
                    @include grayscale(100%);
                    margin-top: 15px;
                }
            }
        }
    }
}
